table {
  border-collapse: collapse;
  border: 100%;
  color: #0245aa;
}

th, td {
  text-align: left;
  padding: 8px;
  color:rgb(0, 0, 0);
}

th {
	color: rgba(168, 29, 64, 0.911);
}

tr:nth-child(even) 

body {
  background-color: #58a0b6; /* Define a cor do background como cinza claro */
}

h1 {
  background: #00bd19;
}

label {
  color: rgb(172, 86, 223);
  font-weight: 700;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}